*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.navList ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 14px;
}

.navList a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.692);
    padding-left: 15px;
    align-self: center;
    list-style: none;
    font-size: 13px;
}



.profilePic{
    width: 32px;
    border-radius: 15px;
}



.mainContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 23vh
    
}

.googleImg{
    width: 270px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.input{
    width: 600px;
    margin: 0 auto;
    border-radius: 20px;
    height: 40px;
    border: 1px rgb(218, 215, 215) solid;
}

button{
    margin: 30px 5px;
    padding: 9px 14px;
    border: none;
    background-color: #F8F9FA;
    border-radius: 3px;
    font-size: 14px;
    color: #404144;
}

.spanText{
    font-size: 13px;
}

.spanText a{
    text-decoration: none;
    color: #1A0DAB;
    
}

footer{
   position: fixed;
   bottom:0px;
   width:100%;
}

.subFooter{
    background-color: #F2F2F2;
    color: #6F6F6F;
    border-bottom: rgb(194, 193, 193) 1px solid;
    padding: 14px 20px;
    font-size: 14px;
}

.subFooter ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.subFooter a{
    list-style: none;
    text-decoration: none;
    color: #6F6F6F;
}



